*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
body{
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: floralwhite;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #292f45;
    padding: 10px;
    min-height: 90px;
    border-radius: 0px 0px 15px 15px;
    /*border: 2px solid rgb(133, 124, 85);*/
}
.logo{
    display: flex;
    align-items: center;
    color: antiquewhite;
}
.logo img{
    height: 50px;
    margin-right: 20px;
}
.navegar a{
    padding-right: 30px;
    font-size: 1.1rem;
    transition: 0.2s;
    opacity: 0.7;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navegar a::before{
    content: "";
    height: 3px;
    width: 0%;
    background: #0c7ccd;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.2s ease-out;
}

.navegar a:hover{
    opacity: 1;
    font-size: 110%;
}

.navegar a:hover::before{
    width: 100%;
}
.cabeza{
    height: 100%;
    background-color: #0c7ccd;
    background-image: url(fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    z-index: 30;
   
    
}
.circulo{
    border-radius: 100% 100% 0 0;
    height:10%;
    width: 100%;
    background-color: #292f45;
    position:absolute;
    bottom: 0px;
    z-index: 10;
    
}
.titulo{
    height: 48%;
    width: 100%;
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.subtitulo{
    width: 100%;
    height: 40px;
    display: flex;
    line-height: 40px;
    justify-content: center;
    align-items: top;
    text-align: center;
    overflow: hidden;

}
.cabeza h1 {
    color: aliceblue;
    font-family: ffontabcs;
    font-weight: 700;
    font-size: 130px;
}
.cabeza h2
{
    color: aliceblue;
    font-family: ffontabcs;
    font-weight: 50;
    font-size: 20px;
}
.cabeza h4{
    color: aliceblue;
    font-family: ffonthhbbb;
    font-weight: 50;
    font-size: 40px;
}

.cabeza h6 {
    color: aliceblue;
    font-weight: 700;
    font-size: 30px;
}
/*0578cb
00dccd
*/

.subtitulo ul {
    list-style: none;
    animation: ctexto 15s infinite;
}

@keyframes ctexto{
    0%{ margin-top: 0;}
    20%{ margin-top: 0;}

    25%{margin-top: -40px;}
    45%{margin-top: -40px;}

    50%{margin-top: -80px;}
    70%{margin-top: -80px;}

    75%{margin-top: -40px;}
    95%{margin-top: -40px;}

}

li{
    color: aliceblue;
    font-family: ffonthhbbb;
    font-weight: 50;
    font-size: 40px;
}
.conteiner{

width: 100%;

z-index: 100;
background: linear-gradient(to bottom, #292f45, #516774);
}

@font-face {
    font-family: ffontabcs;
    src: url(fonts/Audiowide-Regular.ttf) format('truetype');
}


@font-face {
    font-family: ffonthhbbb;
    src: url(fonts/ArgentumNovus-Regular.ttf) format('truetype');
}

.card-wrap{
    display: flex;
    flex-flow:wrap;
    justify-content: center;
}
.card-wrap img{
    max-width: 100%;
}
.header-card{
    background-color: #715a5a66;
}
 article.card{
    max-width: 350px;
    background-color: #1c1e1f;
    border-radius: 8px;
    margin: 2rem;
    box-shadow: 0 0 12px #d7d7d7;
 }
 .header-card img{
    border-radius:8px 8px 0 0;
    max-height: 200px;
    height: 200px;
    width: 100%;
 }

 .categoria-card{
    margin: 1rem 1rem 1rem 0rem;
 }
 .categoria-card span{
    background-color: #0c7ccd;
    color: white;
    padding: .2rem .5rem;
    border-radius: 4px;
}
.card footer{
    padding: 0 1rem;
    border-radius: 0 0 8px 8px;
}
.perfil-card{
    display: flex;
    align-items:center;
}
.img-perfil-card{
    display: flex;
}
.img-perfil-card img{
    width: 50px;
    margin: 1rem 1rem 1rem 0;
    border-radius: 50%;
}
.text-perfil-card{
    display: flex;
    flex-flow:column;
}
.text-perfil-card span:nth-child(2){
    color: #516774;
}



footer{
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    color:blanchedalmond;
    flex-direction: column;
    padding: 2rem;
}
footer .logo{
    height: 80px;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 4px inset rgb(140, 140, 140);

}

.social-icons-container, .menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    text-decoration: none;
}

.social-icons{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(140, 140, 140);
    background-image: url(resorces/facebookBlanco.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 1rem;
    filter: invert(1);
}

.social-icons:nth-of-type(2){
    background-image:url(resorces/InstagramBlanco.png);
}
.social-icons:nth-of-type(3){
    background-image:url(resorces/LinkedinBlanco.png);
}
.social-icons:nth-of-type(4){
    background-image:url(resorces/WhatsappBlanco.png);
}

.social-icons:hover{
    background-color: #121212;
    filter: none;
}

.menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.menu-items{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}
.menu-items:hover{
    opacity:1px;
}
.copyright{
    color:#f2f2f2;
    opacity: 0.3;
    text-align: center;
}
